# {{ansible_managed}}

<VirtualHost *:80>
    ServerName upload.neic.nordforsk.org
    DocumentRoot /var/www/html
    Redirect permanent / https://upload.neic.nordforsk.org/
</VirtualHost>

Listen 44300
<VirtualHost {{ansible_default_ipv4.address}}:44300>
{% if not neicweb_production %}
    # For debug print statements; naughty, should not be used in production.
    WSGIRestrictStdout Off
{% endif %}
    ServerName upload.neic.nordforsk.org
    ServerAdmin joel@nsc.liu.se
    ErrorLog logs/upload.neic.nordforsk.org/ssl_error_log
    CustomLog logs/upload.neic.nordforsk.org/ssl_access_log combined

    SSLEngine on
    SSLCertificateFile /etc/pki/tls/certs/neic.nordforsk.org.pem
    SSLCertificateKeyFile /etc/pki/tls/private/neic.nordforsk.org-key.pem
    SSLProtocol all -SSLv2 -SSLv3
    SSLCipherSuite TLSv1.2:ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:!MEDIUM:!LOW

    ### Uploader

    WSGIProcessGroup neic.nordforsk.org
    WSGIDaemonProcess neic.nordforsk.org \
	python-path={{github_uploader_source_dir}}:{{github_uploader_config_dir}}

    WSGIScriptAlias / {{github_uploader_source_dir}}/github_uploader/wsgi.py
    <Directory "{{github_uploader_source_dir}}/github_uploader">
	<Files "wsgi.py">
	    Require all granted
	</Files>
    </Directory>

    Alias "/static" "{{github_uploader_static_dir}}"
    <Directory "{{github_uploader_static_dir}}">
	Require all granted
    </Directory>
</VirtualHost>
