# {{ansible_managed}}

<VirtualHost *:80>
    ServerName neic.nordforsk.org
    ServerAlias neic.nbi.dk
    DocumentRoot /var/www/html
    Redirect permanent / https://neic.nordforsk.org/
</VirtualHost>

<VirtualHost {{ansible_default_ipv4.address}}:443>
    ServerName neic.nordforsk.org
    ServerAlias neic.nbi.dk
    ServerAdmin joel@nsc.liu.se
    ErrorLog logs/neic.nordforsk.org/ssl_error_log
    CustomLog logs/neic.nordforsk.org/ssl_access_log combined

    SSLEngine on
    SSLCertificateFile /etc/pki/tls/certs/neic.nordforsk.org.pem
    SSLCertificateKeyFile /etc/pki/tls/private/neic.nordforsk.org-key.pem
    SSLCertificateChainFile /etc/pki/tls/certs/neic.nordforsk.org-chain.pem
    SSLProtocol all -SSLv2 -SSLv3
    SSLCipherSuite TLSv1.2:ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:!MEDIUM:!LOW

    AddDefaultCharset UTF-8

    ### Redirects

    Redirect permanent	/neic2015	https://neic2015.nordforsk.org/
    #Redirect temp	/ngn		/lcsc2004

    ### Common

    ScriptAlias /cgi-bin/ {{neicweb_cgi_dir}}/

{% for r in neicweb_sites.values() %}
{% if r.vhost == 'neic.nordforsk.org' %}

    ### Configuration for {{r.vpath}}

{% if r.vpath == '/' %}
    DocumentRoot {{r.webroot}}/html
    <Directory {{r.webroot}}/html>
	AllowOverride none
	Require all granted
    </Directory>
{% else %}
    Alias {{r.vpath}} {{r.webroot}}/html
{% endif %}
    <Location ~ /cgi-bin/github-jekyll-update\.[^/]*\.cgi$>
{% for ip in neicweb_jekyll_update_allow %}
	Require ip {{ip}}
{% endfor %}
	Require all denied
    </Location>
{% endif %}
{% endfor %}

    ### jekyllweb_updater Status Files

    Alias /int/status {{jekyllweb_updater_status_dir}}
    <Directory {{jekyllweb_updater_status_dir}}>
	Options +Indexes
	AllowOverride none
	Require all granted
	Header set Cache-Control no-cache
    </Directory>

    <Location "/media/">
	Options +Indexes
    </Location>

    <Location /int/api>
	Options +Indexes
	AddDefaultCharset utf-8
	Header set Access-Control-Allow-Origin "https://wiki.neic.no"
    </Location>

</VirtualHost>

{% for r in neicweb_sites.values() %}
{% if r.vhost != 'neic.nordforsk.org' %}

### Configuration for {{r.vhost}}

<VirtualHost *:80>
    ServerName {{r.vhost}}
    DocumentRoot {{r.webroot}}/html
    ErrorLog logs/{{r.vhost}}/ssl_error_log
    CustomLog logs/{{r.vhost}}/ssl_access_log combined
    <Directory {{r.webroot}}/html>
	AllowOverride none
	Require all granted
    </Directory>
    Alias /cgi-bin {{neicweb_cgi_dir}}
    <Location ~ /cgi-bin/github-jekyll-update\.[^/]*\.cgi$>
{% for ip in neicweb_jekyll_update_allow %}
	Require ip {{ip}}
{% endfor %}
	Require all denied
    </Location>

    <Location "/media/">
	Options +Indexes
    </Location>

    <Location /int/api>
	Options +Indexes
	AddDefaultCharset utf-8
	Header set Access-Control-Allow-Origin "https://wiki.neic.no"
    </Location>

</VirtualHost>
{% endif %}
{% endfor %}
