# {{ansible_managed}}

PRODUCTION = True
DEBUG = False # Do not change!
SESSION_COOKIE_SECURE = True
ALLOWED_HOSTS = {{github_uploader_allowed_hosts}}
ADMINS = {{github_uploader_admins}}

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': '{{github_uploader_data_dir}}/db.sqlite3',
    }
}

MEDIA_URL = '/'
MEDIA_ROOT = '{{github_uploader_media_dir}}/'

STATIC_URL = '/static/'
STATIC_ROOT = '{{github_uploader_static_dir}}/'

EXTRA_TEMPLATE_DIRS = {{github_uploader_template_dirs}}
STATICFILES_DIRS = {{github_uploader_staticfiles_dirs}}

GITHUB_UPLOADERS = {
{% for name, instance in github_uploader_instances.iteritems(): %}
    '{{name}}': {{instance}},
{% endfor %}
}

# Define these on the host in /etc/ansible/facts.d/secrets.fact
SECRET_KEY = "{{ansible_local.secret.github_uploader.secret_key}}"
GITHUB_UPLOADER_CLIENT_ID = "{{ansible_local.secret.github_uploader.github_client_id}}"
GITHUB_UPLOADER_CLIENT_SECRET = "{{ansible_local.secret.github_uploader.github_client_secret}}"
