# {{ansible_managed}}
{% for name, siteinfo in neicweb_sites.iteritems() %}

[{{siteinfo.webroot}}/html]
builddir    = {{jekyllweb_updater_cache_dir}}/{{name}}/build
plugindir   = {{jekyllweb_updater_trusted_cache_dir}}/{{name}}/plugins
utilsdir    = {{jekyllweb_updater_trusted_cache_dir}}/{{name}}/utils
statusfile  = {{jekyllweb_updater_status_dir}}/{{name}}.txt
gitbranch   = master
giturl      = {{siteinfo.git_fetch_url}}
logfile     = {{jekyllweb_updater_log_dir}}/{{name}}.log
maxwait     = 86400
minwait     = 60
retrywait   = 1800
ssh_wrapper = {{jekyllweb_updater_ssh_wrapper}}
user        = {{jekyllweb_updater_user}}
{% endfor %}
