# {{ansible_managed}}

[Unit]
Description=jekyllweb_updater daemon for {{item}}
After=network.target

[Service]
ExecStart={{jekyllweb_updater_program}} serve {{site.webroot}}/html

[Install]
WantedBy=multi-user.target
